*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
@font-face{
	font-family: 'KorolevBold';
  	src: url(assets/fonts/KorolevBold.woff) format("woff");
}
@font-face{
	font-family: 'KorolevHeavy';
  	src: url(assets/fonts/KorolevHeavy.woff) format("woff");
}
@font-face{
	font-family: 'KorolevMedium';
  	src: url(assets/fonts/KorolevMedium.woff) format("woff");
}
header{
	width: 100%;
	height: 100vh;
	background-image: url(assets/fundo.png);
	background-size: cover;
}
@media (max-width: 425px){
	header{
		background-image: url(assets/degrade-vertical.png);
	}
}
.containerMenu{
	position: fixed;
	top: 95px;
}
@media (max-width: 768px){
	.containerMenu{
		position: static;
	}
}
@media (max-width: 425px){
	.containerMenu{
		display: none;
	}
}
.containerMenu__blockimage{
	width: 230px;
	position: fixed;
	margin-top: 40px;
}
@media (max-width: 768px){
	.containerMenu__blockimage{
		width: 220px;
		height: 200px;
		position: absolute;
		margin-top: 20px;
	}
}
@media (max-width: 425px){
	.containerMenu__blockimage{
		width: 150px;
		height: 110px;
		position: absolute;
		left: 30%;	
	}
}
.containerMenu__nav{
	height: 200px;
	flex-direction: column;
	padding-top: 33vh;
	padding-left: 8vh;
}
@media (max-width: 768px){
	.containerMenu__nav{
		 margin-top: 40px;
	}
}
@media (max-width: 425px){
	.containerMenu__nav{
		width: 60vw;
		height: 65vh;
		display: block;
		flex-direction: column;
		position: absolute;
		bottom: 35vh;
    	padding-top: 15vh;
		background-color: white;
		border-radius: 0px 0px 20px 0px;
		z-index: 1	
	}
}
.containerMenu__blocklinks{
	font-size: 20px;
	font-family: KorolevBold;
	color: #006C1C;
	margin-top: 20px;
	text-decoration: none;	
	text-transform: uppercase;
}
@media (max-width: 768px){
	.containerMenu__blocklinks{
		font-size: 18px;
	}
}
@media (max-width: 425px){
	.containerMenu__blocklinks{
		margin-top: 30px;
	}
}
.containerMenu__blocklinks:hover{
	color: #00C733;
	text-decoration: underline;
	cursor: pointer;
}
.containerHeader__blockparagrafo{
	width: 40vw;
	height: 30vh;
	position: absolute;
	top: 53%;
	left: 25%;
}
@media (max-width: 900px){
	.containerHeader__blockparagrafo{
		width: 50vw;
		left: 35%;
	}
}
@media (max-width: 768px){
	.containerHeader__blockparagrafo{
		top: 50vh;
		width: 60vw;
	}
}
@media (max-width: 425px){
	.containerHeader__blockparagrafo{
		width: 80vw;
		left: 50px;
	}
}
.containerHeader__paragrafo{
	font-size: 1.5em;
	text-align: left;
	font-family:  KorolevMedium;
}
@media (max-width: 768px){
	.containerHeader__paragrafo{
		font-size: 1.3em;
	}
}
strong{
	font-family: KorolevHeavy
}
label{
    font-size: 40px;
    display: none;
    width: 60px;
    justify-content: flex-start;
  }
@media (max-width: 425px){
	label{
		display: block;
		padding-left: 15px;
		position: absolute;
		top: 30px;
		left: 20px;
		z-index: 99;
	}
}
  #mobile{
    display: none;
}
@media(max-width: 425px){
	#mobile:checked~ .containerMenu{
  		display: block;
  	}
}
.containerImagesPrincipal{
	display: flex;
	justify-content: flex-end;
}
@media (max-width: 425px){
	.containerImagesPrincipal{
		justify-content: center;
	}
} 
	.containerImagesPrincipal__block{
		width: 70%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		position: relative;
		bottom: 87px;
		right: 50px;
	}

@media(max-width:800px){
	.containerImagesPrincipal__block{
		width: 80%;
    	right: 26px;
	}
}
@media(max-width:526px){
	.containerImagesPrincipal__block{
    	width: 80%;
    	right: 0px;
	}
}
.containerImagesPrincipal__blockImage{
		width: 31%;
		border-radius: 10%;
}
@media(max-width:526px){
	.containerImagesPrincipal__blockImage{
		width: 90%;
		margin: 8px;
	}
}	
.containermain{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.containermain__atividadestitulo{
	width: 35%;
	font-size: 28px;
	font-family: KorolevHeavy;
}
@media(max-width:800px){
	.containermain__atividadestitulo{
		width: 51%;
		font-size: 25px;
	}
}
.containermain__atividadesBlock{
	width: 70%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 25%;
	margin-top: 5%;
}
@media(max-width:768px){
	.containermain__atividadesBlock{
		width: 100%;
		justify-content: space-around;
		margin-left: 0;
	}
}
.containermain__atividadesblocks{
	width: 25%;
	height:169px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
@media(max-width: 520px){
	.containermain__atividadesblocks{
		width: 50%;
		height: 128px;
	}
}
.containermain__atividadesimages{
	width: 80px;
}
.containermain__atividadesparagrafo{
	font-size: 15px;
	font-family: KorolevBold;
}
.containermain__impacto{
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
}
.containermain__impactoblock{
	width: 75%;
    height: 330px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 49px 14px 26px 70px;
    background-color: #006C1C;
}
@media(max-width:900px){
	.containermain__impactoblock{
		padding: 40px 64px 0px 30px;
	}
}
@media(max-width:768px){
	.containermain__impactoblock{
		width: 100%;
    	align-items: center;
	}
}
@media(max-width:629px){
	.containermain__impactoblock{
		height: 409px;
		flex-direction: column;
		padding: 37px;
	}
}
.containermain__impactosubblock{
	width: 36%;
    margin-top: 2%;
}
@media(max-width:629px){
	.containermain__impactosubblock{
		width: 80%;
    	margin-top: 0;
	}
}
@media(max-width:350px){
	.containermain__impactosubblock{
		width: 100%;
	}
}
.containermain__impactotitle{
	font-size: 35px;
	font-family: KorolevHeavy;
	color: #FFFF00;
	text-transform: uppercase;
}
.containermain__impactoparagrafo{
	font-size: 18px;
	font-family: KorolevMedium;
	color: #fff;
	line-height: 140%;
    margin-top: 23px;
}
@media(max-width:922px){
	.containermain__impactoparagrafo{
		font-size: 15px;
	}
}
	.containermain__impactoimage{
		width: 60%;
	    height: 313px;
	    border-radius: 8%;
	    border: solid 11px #fff;
	    position: relative;
	    top: 4%;
}
@media(max-width: 900px){
	.containermain__impactoimage{
		left: 9%;
    	top: 10%;
	}
}
@media(max-width: 629px){
	.containermain__impactoimage{
		width: 90%;
    	height: 254px;
    	left: 0;
	}
}
@media(max-width: 350px){
	.containermain__impactoimage{
		width: 295px;
    	height: 218px;
	}
}
.containermain__parceiros{
	display: flex;
	align-items: center;
	flex-direction: column;
   	padding: 120px 75px 0 0;
	margin-left: 50px;
}
@media(max-width:768px){
	.containermain__parceiros{
		margin-left: 20px;
		padding: 200px 0 0 0;
	}
}
.containermain__parceirostitulo{
	width: 30%;
	height: 80px;
	font-size: 33px;
	font-family: KorolevHeavy;
}
@media(max-width:768px){
	.containermain__parceirostitulo {
		margin-right: 200px;
 	}
}
.containermain__parceirosBlock{
	width: 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: flex-end;
    padding-bottom: 100px;
}
@media(max-width:768px){
	.containermain__parceirosBlock{
		width: 100%;
	}
}
.containermain__parceirosblocks{
	width: 15vw;
	height: 189px;
	font-size: 18px;
	font-family: KorolevBold;
	text-align: center;
	display: flex;
    flex-direction: column;
   	align-items: center;
}
@media(max-width:768px){
	.containermain__parceirosblocks{
		width: 40%;
	}
}
@media(max-width:468px){
	.containermain__parceirosblocks{
		font-size: 15px;
	}
}
@media(max-width:375px){
	.containermain__parceirosblocks{
		font-size: 13px;
	}
}
.containermain__parceirosparagrafo{
	width:111px;
}
.containermain__parceirosimages{
	width: 100px;
	height: 100px;
}
.containerfooter{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 99;
}
.containerfooter__section{
	width: 75%;
	height: 50vh;
	display: flex;	 
	background-color: #00C733; 
}
.containerfooter__block{
	width: 100%;
	display: flex;	
	justify-content: space-around;
	align-items: center;	
	position: relative;
}
.containerfooter__blockcontatos{
	width: 30vw;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.containerfooter__h1{	
	font-size: 30px;
	font-family: KorolevHeavy;
	color: yellow;
}
.endereco{
	width: 295px;
}
 .containerfooter__paragrafo, .containerfooter__paragrafoEmail {
 	font-size: 16px;
 	font-family: 'KorolevMedium';
 	color:#fff;
 	padding-top: 3vh;
 }
 .containerfooter__paragrafoEmail{
 	padding-top: 0;
 }
.containerfooter__div{
	width: 30%;
	height: 50vh;
	display: flex;
}

.containerfooter__divimagemcriança{
	width: 335px;
    border:solid 7px #fff;
	border-radius: 7%;
}
.containerfooter__imagemvnw{
	width: 50px;
	height: 40px;
	padding: 5px;
}
.containerfooter__vnw{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerdiv__paragrafo{
	font-size: 10px;
}
@media (max-width: 855px){
	.containerfooter__divimg{
		width: 350px;
}
@media (max-width: 768px){
	.containerfooter__section{
		width: 100%;
	}
	.containerfooter__divimg{
		width: 330px;
		margin-left: 50px;
	}
}
@media (max-width: 630px){
	.containerfooter__block{
		width: 100%;
		height: 470px;
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 60px;
	}
	.containerfooter__divimg{
		width: 400px; 
		height: 270px;
		margin-left: 0;
	}
	.containerfooter__divimagemcriança{
    	height: 200px;
	}
	.containerfooter__section{
		height: 100vh;
	}
	.containerfooter__blockcontatos{
		width: 100%;
		height: 290px;
		align-items: center;
	}
	.containerfooter__h1{
		font-size: 30px;
	}
	.containerfooter__paragrafo, .containerfooter__paragrafoEmail, .endereço{
		font-size: 20px;	
	}
}
@media (max-width: 500px){
	.containerfooter{
		width: 100%;
	}
}
@media (max-width:425px){
	.containerfooter__divimg{
		width: 320px; 
		margin-left: 0;
	}
	.containerfooter__divimagemcriança{
		width: 300px; 
		height: 180px;
	}
	.containerfooter__blockcontatos{
		align-items: flex-start;
		padding-left: 20px;
	}
}
@media (max-width: 375px){
	.containerfooter__divimg{
		width: 300px; 
		margin-left: 0;
	}
	.containerfooter__divimagemcriança{
		width: 280px;
	    height: 200px;
	}
}
@media (max-width: 320px){
	.containerfooter__divimg{
		width: 300px; 
		margin-left: 0;
	}
	.containerfooter__divimagemcriança{
		width: 280px; 
		height: 160px;
	}
}
}